# =========================
# YOLO pretrained weights
# =========================
yolov8n.pt
yolov8x.pt
*.onnx
*.engine

# keep my trained model
!best_mouse_keyboard.pt


# =========================
# YOLO training results
# =========================
runs/

# =========================
# Dataset
# =========================

dataset/

raw/
raw_new/
raw_incoming/

labeled/
labeled_all/
labeled_new/
labeled_incoming/


# =========================
# Python
# =========================
__pycache__/
*.pyc
*.egg-info/


# =========================
# IDE
# =========================
.idea/
.vscode/


# =========================
# System
# =========================
.DS_Store


# temporary tree file
project_tree.txt